<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>LifeCoders - BusFinderApp</title>
	
	<meta name="description" content="Projekt realizowany na zaliczenie kursu - Bootcamp C#.Net />
	<meta name="keywords" content="Informacje" />
	
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
</head>

<body>
      
	  <div id="container">
	
	    <div id="menu">
		       <div class="option">Strona główna </div>
			   <div class="option" >Wyszukaj połączenie </div>
			   <div class="option">Aktualności  </div>
			   <div class="option" >Informacje </div>
			   <div class="option">Nasz zespół </div>
			   <div style="clear:both"></div>
		</div>
		<div id="sidebar">
		             <div id="reklama2">
			         <div style="clear:both"></div>
			         </div>
			         <div style="clear:both"></div>
			    
				 <div id="reklama">
			     <div style="clear:both"></div>
			     </div>
		
		</div>
		
		<div id="content">
		   
		   
		   <div class="NZespół">
		        <b><h1><span><center>LifeCoders Sp. z. o. o. </center></strong></h1></b>
		   <div>
		         
		         <h3> 
				   <p style="text-align: left">
                   Numer KRS : 0001112223</br>
				   NIP : 0000001111</br>
				   REGON :00000111112222</br>
				   Forma prawna : Spółka z ograniczona odpowiedzialnością</br>
				   Data wpisu do rejestru przedsiębiorców : 24.10.2021 r.</br>
				   Województwo : Dolnośląskie</br>
				   Powiat: Dzierżoniowski</br>
				   Gmina: Bielawa</br>
				   Miejscowość : Bielawa</br>
				   Adres: Al. Life Coders 1</br>
				   Kod pocztowy : 58-260</br>
				   Email : </i><i class="icon-mail-alt"></i> LifeCoders@adres.com
				   </p>
                </h3>
					
		        	<div style="clear:both;"></div>
		</div>
		      
            </div>
		 
		   	
		</div>	
		    <div id="footer">
		  
		        2021 &copy; LifeCoders sp. z o.o. - BusFinderApp. </i><i class="icon-mail-alt"></i>LifeCoders@adres.com
		    </div>
		
        </div>

</body>

</html>
