
.icon-users:before { content: '\e801'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
