@using BusFinderAppCore.ViewModels;

@{
    ViewData["Title"] = "Home Page";
}



@model usersViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>@Model</h1>

<form asp-action="Logged">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <label asp-for="passwd" class="control-label">Password</label>
        <input asp-for="passwd" type="password" class="form-control" />
        @Html.ValidationMessage("Error")
    </div>

    <div class="form-group">
        <input type="submit" value="Zaloguj" class="btn btn-primary" />
    </div>
</form>
