<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BusFinderAppWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Style.css" />
</head>
<body>
<nav class="navi">
    <div class="navi-container">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Wyszukaj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Informacje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">O nas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Zaloguj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Zaloguj</a>
            </li>
        </ul>
    </div>
</nav>
<div class="my-background">
    <div class="my-container">
        @RenderBody()
    </div>
</div>
<footer class="my-footer">
    <div class="inline">
        <p>

        </p>
    </div>
</footer>
<script src="js/site.js"></script>
</body>
</html>
